* , ::after, ::before{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html , body{
    background-image: linear-gradient(to right top, #e3f6f5, #dff2f1, #daeeee, #d6ebea, #d2e7e7);
    font-family: 'Lato', sans-serif;
    height: 100%;
}
ul {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  nav{
      background:#ffffff;
  }
  .fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255,0.9);
    box-shadow: 0 14px 28px rgba(64, 46, 105, 0.1), 0 10px 10px rgba(0, 0, 0, 0.2);
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  
  .logo {
    height: 60px;
  }
  .links-container .links a {
    color:#2c698d;
    font-size: 16 px;
    text-transform: capitalize;
    letter-spacing: 1px;
    display: block;
    padding: 3px 10px;
    border: 2px solid rgba(255, 255, 255,0.1);
    margin: 0 0.5rem;
    }
    .links-container .links a:hover ,
    .links-container .links a:active{
    border-bottom-color: #1f4c66;
    border-bottom-width: medium;
    color: #1f4c66;
  }
  .links-container .links {
    overflow: hidden;
    height: auto;
    display: flex;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .box{
    height: 450px;
    width: 760px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid white;
    border-top-color: #2c698d;
    border-top-width: 5px;
    margin: 30px 320px;
}
    #home-button,
    .submit-btn{
    border-radius: 5px;
    border: 2px solid #2c698d;
    background-color:#2c698d;
    color:#ffffff;
    font-size: 12px;
    font-weight: bold;
    margin: 15px 50px;
    padding: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;  
}

  #home-button:hover,
  .submit-btn:hover{
    transform:scale(1.2);
}
 #home-button:focus,
 .submit-btn:focus{
    outline: none;
}
.box-button{
  justify-content: center;
  padding: 0;
 margin: 0;
 display: flex;
}
.images{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feature-img{
  height: 250px;
  width: 250px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 14px 28px rgba(64, 46, 105, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  
}
.logo{
 height: 52px;
}
.logo img{
  margin: 0;
  margin-left: 20px;
  height: 52px;
  width: 200px;
  overflow: hidden;
}
h1{
  font-weight: 800;
  font-size: 36px;
  color: #2c698d;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-weight: 400;
  font-size: 16px;
  color: #2c698d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer{
  background-color: #2c698d;
  color: #ffffff;
  height: 350px;
  position: relative;
} 
.footer h1{
  font-size: 18px;
}
.footer-bottom{
  background-color: #053b5a;
  height: 40px;
  width: 100%;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 10px;
  font-size: 20px;
}
.footer .footer-content{
  border: 1px solid #ffffff;
  height: 350px;
  display: flex;
 
}
.footer-content .footer-section{
  flex: 1;
  padding: 25px;
  
  
}
.footer .footer-content h1 {
  color: #d2e7e7;
  font-weight: 600;
  letter-spacing: 2px;
  
}

.footer .footer-content .about .contact{
  display: block;
  margin-bottom: 8px;
  color: white;
}
.footer .footer-content .social{
  margin-top: 40px;
}
.footer .footer-content .about .social-links,.home-para p{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.home-para p{
color: white;
text-align: left;
}
.footer .footer-content .about .social  a 
{
  text-decoration: none;
  border:1px solid white;
  color: white;
  width: 45px;
  height: 40px;
  padding: 5px;
  margin: 0 8px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all .3s;
}
.footer .footer-content .about .social a:hover ,
.btn-big:hover{
  transform:scale(1.1);
  border: 1px solid #d2e7e7 ;
  transition: all .3s;

}
.footer .footer-content .footer-section{
  text-align: left;
}
.footer .list{
  text-align: left;
  text-decoration: none;
 margin: 10px 30px;
 display: block;
  
}
.footer .list a{
  color: white;
  transition: all .3s;

}
.footer .list a:hover{
  transform:scale(1.1);
  border-bottom: 1px solid #d2e7e7 ;
  color: #d2e7e7;
  font-size: 17px;
  transition: all .3s;
}

.footer .list ul{
  display: block;
}
.footer .footer-content .feedback .contact-input ,
#footer-input{
  background: #d2e7e7;
  color: #053b5a;
  margin: 7px 60px;
  border: 3px solid #d2e7e7;
  border-radius: 3px;
  display: flex;
  justify-content: center;  
}
.footer .footer-content .feedback .contact-input:focus{
  outline: none;
}
 #btn-big{
  text-decoration: none;
  border:1px solid white;
  color: #0e4666;
  font-weight: normal;
  width: 80px;
  height: 26px;
  padding: 5px;
  margin: 7px 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all .3s;
  letter-spacing: normal;
}
.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background:white;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 9px;
  color:#2c698d;
  animation: bounce 2s ease-in-out infinite;

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}                  
.work{
  margin: 50px 10px;
}
.work img:hover{
  transform:scale(1.2);
  overflow: hidden;
  
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.wrapper{
  min-height: 100%;
}

